@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import './reset.css';

body{
  font-size: 14px;
}

.full-width{
  width: 100%;
}

.table-cell{
  font-size: 12px;
}

.operator-button-list > a{
  cursor: pointer;
  color: #3f51b5;
}

.form-control-row{
  padding-bottom: 1.29688em;
}
