<div class='row'>
  <button type="button" md-raised-button (click)='back()'>
    <i class="material-icons">arrow_back</i>
    <span>返回属性库管理</span>
  </button>
</div>

<h2 class='row'>属性值管理</h2>

<form novalidate class='row'>
  <md-input-container class='full-width'>
    <input mdInput placeholder="属性ID" type="text" name="propertyId" value="{{property?.propertyId}}" disabled>
  </md-input-container>

  <md-input-container class='full-width'>
    <input mdInput placeholder="属性名称" type="text" name="propertyName" value="{{property?.propertyName}}" disabled>
  </md-input-container>

  <md-input-container>
    <input mdInput #propertyValueInput placeholder="属性值名称" type="text" name="propertyValue">
  </md-input-container>
  <button type="button" md-mini-fab (click)='addPropertyValue(propertyValueInput)'>
    <md-icon>add</md-icon>
  </button>

  <div>
    <span class='tag' *ngFor='let p of propertyValues'>
      <span class='tag-label'>{{p.propertyValue}}</span>
    <md-icon (click)='delPropertyValue(p)' class='tag-del'>delete_forever</md-icon>
    </span>
  </div>
</form>

<h2 class='row'>子属性项管理</h2>

<form novalidate (ngSubmit)='addSubProperty()'>
  <md-input-container>
    <input mdInput placeholder="子属性项名称" type="text" name="subPropertyName" [(ngModel)]='subPropertyName' />
  </md-input-container>

  <md-select placeholder='选择类型' name='queryType' [(ngModel)]='selectedQueryType'>
    <md-option *ngFor='let queryType of queryTypes' [value]='queryType'>
      {{queryType.name}}
    </md-option>
  </md-select>

  <button type="submit" md-mini-fab>
    <md-icon>add</md-icon>
  </button>
</form>

<md-card>
  <md-table [dataSource]='dataSource'>
    <ng-container *ngFor='let tableHeader of tableHeaders;' [cdkColumnDef]='tableHeader.key'>
      <md-header-cell *cdkHeaderCellDef> {{tableHeader.name}} </md-header-cell>
      <md-cell class='table-cell' *cdkCellDef="let row">{{tableHeader.cell(row)}}</md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

  <p class='no-data-tip' [hidden]='this.dataSource?.dataTotal'>暂无数据</p>
</md-card>
