<form novalidate (submit)='onSumbit()'>
  <md-input-container type='text'>
    <input mdInput type="text" name="dept" [(ngModel)]='dept' placeholder="科室名称">
  </md-input-container>
  <button md-raised-button type='submit'>查询</button>
</form>

<div class='row'>
  <button type="button" md-raised-button (click)='addDept()'>新增科室</button>
</div>

<md-card>

  <md-table [dataSource]='dataSource' [trackBy]='useTrackBy'>
    <ng-container *ngFor='let tableHeader of tableHeaders; let last = last; trackBy: trackByFn' [cdkColumnDef]='tableHeader.key'>
      <md-header-cell *cdkHeaderCellDef> {{tableHeader.name}} </md-header-cell>
      <md-cell class='table-cell' *cdkCellDef="let row">
        <span *ngIf='!last'>{{tableHeader.cell(row)}}</span>
        <span *ngIf='last' class='operator-button-list'>
          <a (click)='edit(row)'>编辑</a>
          <a (click)='setProperties(row)'>设置属性项</a>
        </span>
      </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

   <md-paginator (page)='onPageChange($event)' [length]="this.deptService.getDeptsData().count" [pageIndex]="pageIndex" [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"></md-paginator>
</md-card>
