<form novalidate (submit)='onSubmit()' class='form'>

  <md-select placeholder='查询类别' name='queryType' [(ngModel)]='selectedQueryType'>
    <md-option *ngFor='let queryType of queryTypes' [value]='queryType'>
      {{queryType.name}}
    </md-option>
  </md-select>

  <md-input-container type='search'>
    <input mdInput name="keyword" placeholder="请输入类别关键字" [(ngModel)]='keyword'>
  </md-input-container>

  <button md-raised-button type="submit">查询</button>

</form>

<md-card>
  <md-table [dataSource]="dataSource">

    <ng-container *ngFor='let tableHeader of tableHeaders; let last = last; trackBy: trackByFn' [cdkColumnDef]='tableHeader.key'>
      <md-header-cell *cdkHeaderCellDef> {{tableHeader.name}} </md-header-cell>
      <md-cell class='table-cell' *cdkCellDef="let row">
        <span *ngIf='!last'>{{tableHeader.cell(row)}}</span>
        <span *ngIf='last' class='operator-button-list'>
          <a (click)='edit(row)'>编辑</a>
          <a (click)='config(row)'>配置</a>
          <a (click)='setProperties(row)'>设置属性项</a>
        </span>
      </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

  <p class='no-data-tip' [hidden]='diseaseDataBase.total'>暂无数据</p>

  <div [hidden]='!diseaseDataBase.total'>
    <md-paginator (page)='onPageChange($event)' [length]="diseaseDataBase.total" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions">
    </md-paginator>
  </div>

</md-card>
