<section class="entrance-manager">
  <header>
    <h1>中心入口配置</h1>
    <button md-raised-button class="primary">新 增</button>
  </header>

  <section class="container">
    <md-card class="item-card" *ngFor="let v of entranceData">
      <md-card-content>
        <md-input-container class="inline-item">
          <input mdInput placeholder="排序" disabled value={{v.sortFactor}}>
        </md-input-container>

        <md-input-container class="inline-item">
          <input mdInput placeholder="名称" disabled value={{v.name}}>
        </md-input-container>

        <md-input-container class="inline-item">
          <input mdInput placeholder="URL" disabled value={{v.linkUrl}}>
        </md-input-container>

        <section class="inline-item">
          <upload [text]="'图标'" disabled={{true}} src={{v.icon}}></upload>
        </section>

        <section class="inline-item">
          <upload [text]="'封面'" disabled={{true}} src={{v.poster}}></upload>
        </section>

        <section class="inline-item check-group">
          <label>渠道：</label>
          <checkbox-group class="ckg" [options]="checkboxOptions" value={{v.channels}} disabled={{true}}></checkbox-group>
        </section>
      </md-card-content>
      <md-card-actions>
        <button md-button class="primary" (click)="editEntranceForm(v)">编辑</button>
        <button md-button class="warnning">删除</button>
      </md-card-actions>
    </md-card>
  </section>
</section>


