<section class="entrance-manager">
  <header>
    <h1>中心入口配置</h1>
    <button md-raised-button class="primary" (click)="editEntranceForm({}, checkboxOptions)">新 增</button>
  </header>

  <section class="container">
    <md-card>
      <md-table [dataSource]="entranceDataSource">
        <ng-container *ngFor="let tableHeader of tableHeaders; let last = last" [cdkColumnDef]="tableHeader.key">
          <md-header-cell *cdkHeaderCellDef> {{tableHeader.name}} </md-header-cell>
          <md-cell class="table-cell" *cdkCellDef="let row">
            <span *ngIf="!last" [innerHtml]="tableHeader.cell(row)"></span>
            <span *ngIf='last' class='operator-button-list'>
              <a (click)='editEntranceForm(row, checkboxOptions)'>编辑</a>
              <a (click)='deleteEntranceForm(row.id)'>删除</a>
            </span>
          </md-cell>
        </ng-container>
    
        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>
    </md-card>

    <p class="no-data-tip" [hidden]="totalCount">暂无数据</p>
  </section>

  <section class="pagination" [hidden]='!totalCount'>
    <md-paginator
      #pagination
      [length]="totalCount"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex - 1"
      [pageSizeOptions]="pageSizeOptions"
      (page)="handlePageChange(pagination)">
    </md-paginator>
  </section>
</section>


