.entrance-manager header{
  margin: 20px 0;
}

.entrance-manager header .primary{
  margin-left: 20px;
}

.entrance-manager .primary, .entrance-manager .warnning{
  background-color: #108ee9;
  border-color: #108ee9;
  color: #fff;
}

.entrance-manager .warnning{
  background-color: rgb(240, 65, 52);
  border-color: rgb(240, 65, 52);
}

.entrance-manager h1{
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}

.entrance-manager .container {
  padding: 0 2%;
}

.entrance-manager .container .mat-card .mat-header-cell
,.entrance-manager .container .mat-card .mat-cell{
  overflow: hidden;
  text-align: center;
  position: relative;
}

.entrance-manager .container .mat-card .mat-row{
  height: auto;
}

.entrance-manager .mat-row .mat-column-icon{
  margin: 5px 10px;
  box-sizing: border-box;
}
