.service-manager header{
  margin: 20px 0;
}

.service-manager header .primary{
  margin-left: 20px;
}

.service-manager .primary, .service-manager .warnning{
  background-color: #108ee9;
  border-color: #108ee9;
  color: #fff;
}

.service-manager .warnning{
  background-color: rgb(240, 65, 52);
  border-color: rgb(240, 65, 52);
}

.service-manager h1{
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}

.service-manager .container {
  padding: 0 2%;
}

.service-manager .container .item-card{
  display: inline-block;
  width: 29%;
  margin: 10px 2%;
  box-sizing: border-box;
}

.service-manager .container .item-card .mat-card-actions{
  text-align: center;
}


.service-manager .container .item-card .inline-item{
  display: block;
  width: 100%;
}

.service-manager .container .item-card .inline-item.check-group{
  display: flex;
}

.service-manager .container .item-card .inline-item.check-group .ckg{
  flex: 1;
}

.service-manager .container .item-card .inline-item.check-group label{
  color: rgba(0,0,0,.38);
  line-height: 24px;
}

.service-manager .container .item-card .inline-item label{
  vertical-align: middle;
}
