<form [formGroup]="entranceEditForm" (ngSubmit)="handleSubmit()" novalidate>
  <h2 md-dialog-title>编辑</h2>
  <md-dialog-content>
      <div>
        <md-input-container class="inline-item">
          <input mdInput formControlName="sortFactor" placeholder="排序">
        </md-input-container>

        <md-input-container class="inline-item">
          <input mdInput formControlName="name" placeholder="名称">
        </md-input-container>

        <md-input-container class="inline-item">
          <input mdInput formControlName="linkUrl" placeholder="URL">
        </md-input-container>

        <section class="inline-item">
          <upload [text]="'图标'" formControlName="icon" [src]="formData.icon"></upload>
        </section>

        <section class="inline-item">
          <upload [text]="'封面'" formControlName="poster" [src]="formData.poster"></upload>
        </section>

        <section class="inline-item check-group">
          <label>渠道：</label>
          <checkbox-group class="ckg" [options]="options" formControlName="channels"></checkbox-group>
        </section>
      </div>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-button class="primary" [class.disabled]="entranceEditForm.invalid" type="submit" [disabled]="entranceEditForm.invalid">确定</button>
    <button md-button class="warnning" md-dialog-close>取消</button>
  </md-dialog-actions>
</form>