<h2 md-dialog-title>配置设置</h2>
<md-dialog-content>
  <form novalidate (submit)='onSumit()'>
    <md-input-container class='full-width' type='text'>
      <input mdInput disabled placeholder="疾病ID" name="tagId" [value]="disease.tagId">
    </md-input-container>

    <md-input-container class='full-width' type='text'>
      <input mdInput disabled name="tagName" placeholder="疾病名称" [value]="disease.tagName">
    </md-input-container>

    <div>
      <md-input-container class='full-width'>
        <textarea [(ngModel)]='config.description' name='description' mdInput mdTextareaAutosize placeholder="疾病描述"></textarea>
      </md-input-container>
    </div>

    <div>
      <md-input-container class='full-width'>
        <textarea [(ngModel)]='config.symptom' name='symptom' mdInput mdTextareaAutosize placeholder="相关症状"></textarea>
      </md-input-container>
    </div>

    <div>
      <md-input-container class='full-width'>
        <textarea [(ngModel)]='config.inspection' name='inspection' mdInput mdTextareaAutosize placeholder="检查方式"></textarea>
      </md-input-container>
    </div>

    <div>
      <md-input-container class='full-width'>
        <textarea [(ngModel)]='config.treatment' name='treatment' mdInput mdTextareaAutosize placeholder="治疗方式"></textarea>
      </md-input-container>
    </div>

    <div>
      <md-input-container class='full-width'>
        <textarea [(ngModel)]='config.preventive' name='preventive' mdInput mdTextareaAutosize placeholder="预防护理"></textarea>
      </md-input-container>
    </div>
  </form>

</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button md-dialog-close>取消</button>
  <button md-raised-button type='submit'>确定</button>
</md-dialog-actions>
